<app-navbar></app-navbar>
<br/>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Reporte Por Equipo</strong>
        </div>
        <div class="card-body">
            <form #forma="ngForm">
                <div class="row">
                    <label class="col-md-1 col-form-label" for="disabled-input">Año:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="filtros.YearActual" name="YearActual" class="custom-select">
                                <option value="0">--Seleccionar--</option>                                       
                                        <option [value]="anio" 
                                        *ngFor="let anio of ListaAnios">{{anio}}
                                        </option>
                                    </select>
                    </div>
                    <label class="col-md-1 col-form-label" for="disabled-input">Mes:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="filtros.MesActual" name="MesActual" class="custom-select">
                                        <option value="0">--Seleccionar--</option>
                                        <option [value]="mes.codigo"
                                        *ngFor="let mes of ListaMeses">{{mes.nombre}}
                                        </option>
                                    </select>
                    </div>

                    <div class="col-md-1">
                        <button type="button" (click)="obtenerInfo()" class="btn btn-outline-primary">Mostrar Reporte</button>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        <button [routerLink]="['/reporte-individual']" routerLinkActive="active" class="btn btn-outline-danger">Ir a Reporte Individual</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/>
<div class="col-md-12">
    <div *ngIf="resultado.length === 0" class="alert alert-info" role="alert">
        <strong>No hay información que mostrar.</strong>
    </div>
</div>
<div class="col-md-12">
    <div *ngIf="resultado.length > 0" [chart]="chart"></div>
</div>
<ngx-loading-bar></ngx-loading-bar>