<app-navbar></app-navbar>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Reporte Por Equipo</strong>
        </div>
        <div class="card-body">
            <form #forma="ngForm">
                <div class="row">
                    <label class="col-md-2 col-form-label" for="disabled-input">Año: 2018</label>
                    <label class="col-md-2 col-form-label" for="disabled-input">Mes: 10</label>
                </div>
            </form>
        </div>
    </div>
</div>
<div [chart]="chart"></div>