<br/>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Módulo de Asignación del Responsable</strong>
        </div>
        <div class="card-body">
            <div class="col-6">
                <form #forma="ngForm">
                    <div class="col-12"></div>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Responsable Actual:</td>
                                    <td>{{asignacion.NombreCompleto}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Fecha Inicio:</td>
                                    <td>{{asignacion.FechaInicioTareo | date:'dd/MM/yyyy'}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Fecha Fin:</td>
                                    <td>{{asignacion.FechaFinTareo | date:'dd/MM/yyyy'}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Lista de Usuarios</td>
                                    <td>
                                        <select [(ngModel)]="nuevoCodigo" name="nuevoCodigo">
                                    <option value="0">--Seleccionar--</option>
                                    <option [value]="usuario.codigo_usuario"
                                    *ngFor="let usuario of usuarios">{{usuario.nombre}}
                                    </option>
                                </select>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <pre>
                            {{nuevoCodigo | json}}
                        </pre>
                        <div>
                            <button type="button" (click)="guardar(nuevoCodigo)" class="btn btn-outline-primary ">Grabar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>