<app-navbar></app-navbar>
<br/>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Reporte Asistencia</strong>
        </div>
        <div class="card-body">
            <form #forma="ngForm">
                <div class="row">
                    <label class="col-md-1 col-form-label" for="disabled-input">Año:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="anio" name="anio" class="custom-select">
                                        <option value="0">--Seleccionar--</option>                                       
                                                <option [value]="anio" 
                                                *ngFor="let anio of listaAnios">{{anio}}
                                                </option>
                                            </select>
                    </div>
                    <label class="col-md-1 col-form-label" for="disabled-input">Semana:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="semana" name="mes" class="custom-select">
                                        <option value="0">--Seleccionar--</option>
                                        <option [value]="semana.semana"
                                        *ngFor="let semana of listaSemana">{{semana.semana}} ({{semana.fecha_inicio}} - {{semana.fecha_fin}})
                                        </option>
                                    </select>
                    </div>
                    <div class="col-md-2 col-form-label">

                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="getDatos()" class="btn btn-outline-primary">Mostrar Reporte</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<br>
<div class="col-md-12">
    <table class="table table-bordered table-striped table-sm" *ngIf="listaTareos != undefined">
        <thead>
            <tr>
                <th class="row-name">Nombre</th>
                <th class="row-align">Lunes</th>
                <th class="row-align">Martes</th>
                <th class="row-align">Miércoles</th>
                <th class="row-align">Jueves</th>
                <th class="row-align">Viernes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaTareos">
                <td class="row-name">{{item.NombreCompleto}}</td>
                <td [ngClass]="{
                            'red':item.Lunes === 'Multa',
                            'yellow':item.Lunes === 'Comodin',
                            'green':item.Lunes === 'Puntual',
                            'wheat':item.Lunes === 'Permiso',
                            'black':item.Lunes === 'Comodin + Multa',
                            'white':item.Lunes === 'Marcha Blanca'
                          }">{{item.Lunes}}</td>
                <td [ngClass]="{
                            'red':item.Martes === 'Multa',
                            'yellow':item.Martes === 'Comodin',
                            'green':item.Martes === 'Puntual',
                            'wheat':item.Martes === 'Permiso',
                            'black':item.Martes === 'Comodin + Multa',
                            'white':item.Martes === 'Marcha Blanca'
                          }">{{item.Martes}}</td>
                <td [ngClass]="{
                            'red':item.Miercoles === 'Multa',
                            'yellow':item.Miercoles === 'Comodin',
                            'green':item.Miercoles === 'Puntual',
                            'wheat':item.Miercoles === 'Permiso',
                            'black':item.Miercoles === 'Comodin + Multa',
                            'white':item.Miercoles === 'Marcha Blanca'
                          }">{{item.Miercoles}}</td>
                <td [ngClass]="{
                            'red':item.Jueves === 'Multa',
                            'yellow':item.Jueves === 'Comodin',
                            'green':item.Jueves === 'Puntual',
                            'wheat':item.Jueves === 'Permiso',
                            'black':item.Jueves === 'Comodin + Multa',
                            'white':item.Jueves === 'Marcha Blanca'
                          }">{{item.Jueves}}</td>
                <td [ngClass]="{
                            'red':item.Viernes === 'Multa',
                            'yellow':item.Viernes === 'Comodin',
                            'green':item.Viernes === 'Puntual',
                            'wheat':item.Viernes === 'Permiso',
                            'black':item.Viernes === 'Comodin + Multa',
                            'white':item.Viernes === 'Marcha Blanca'
                          }">{{item.Viernes}}</td>
            </tr>
            <!-- <tr *ngIf="listaTareos === undefined || listaTareos.length === 0">
                        <td colspan=6 class="alert alert-info">No se encuentra información</td>
                    </tr> -->
        </tbody>
    </table>
    <div *ngIf="listaTareos === undefined || listaTareos.length === 0" class="alert alert-info" role="alert">
        <strong>No se encuentra información.</strong>
    </div>
</div>
<ngx-loading-bar></ngx-loading-bar>