.row-name {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightgray
}

.red {
    background-color: lightcoral;
    text-align: center;
}

.yellow {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

.wheat {
    background-color: lightblue;
    text-align: center;
}

.green {
    background-color: lightgreen;
    text-align: center;
}

.black {
    background-color: lightslategray;
    text-align: center;
    color: white;
}

.white {
    background-color: white;
    text-align: center;
}

.orange {
    background-color: orange;
    text-align: center;
}

.row-align {
    text-align: center;
}