<app-navbar></app-navbar>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Reporte Asistencia</strong>
        </div>
        <div class="card-body">
            <form #forma="ngForm">
                <div class="row">
                    <label class="col-md-1 col-form-label" for="disabled-input">Año:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="anio" name="anio" class="custom-select">
                                        <option value="0" [selected]>--Seleccionar--</option>                                       
                                                <option [value]="anio" 
                                                *ngFor="let anio of listaAnios">{{anio}}
                                                </option>
                                            </select>
                    </div>
                    <label class="col-md-1 col-form-label" for="disabled-input">Semana:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="semana" name="mes" class="custom-select">
                                        <option value="0" [selected]>--Seleccionar--</option>
                                        <option [value]="semana.semana"
                                        *ngFor="let semana of listaSemana">{{semana.semana}}
                                        </option>
                                    </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="getDatos(anio,semana)" class="btn btn-outline-primary">Mostrar Reporte</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" [routerLink]="['/reporte-individual']" class="btn btn-outline-danger">Ir Reporte Individual</button>
                    </div>
                </div>
                <!-- <div class="row">
                    
                </div> -->
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th class="row-name">Nombre</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaTareos; let i = index">
                        <td class="row-name">{{item.NombreCompleto}}</td>
                        <td ng-class='{red : (item.Lunes == "Multa")}'>{{item.Lunes}}</td>
                        <td>{{item.Martes}}</td>
                        <td>{{item.Miercoles}}</td>
                        <td>{{item.Jueves}}</td>
                        <td>{{item.Viernes}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav> -->
        </div>
        <!-- </div> -->
    </div>
</div>