<app-navbar></app-navbar>
<br/>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Registro de Asistencia</strong> - Mes Noviembre
        </div>
        <div class="card-body">
            <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
            <form (ngSubmit)="insertDatos()" #forma="ngForm" enctype="multipart/form-data" class="form-horizontal">
                <div class="row">
                    <label class="col-md-2 col-form-label" for="disabled-input">Responsable:</label>
                    <div class="col-md-3">
                        <input [(ngModel)]="bandeja.responsable" name="responsable" type="text" class="form-control is-valid" id="txtResponsable" disabled>
                    </div>
                    <label class="col-md-1 col-form-label" for="disabled-input" style="text-align: right ;">Día:</label>
                    <div class="col-md-2">
                        <input [(ngModel)]="bandeja.dia" name="dia" type="text" class="form-control is-valid" id="txtDia" disabled>
                    </div>
                    <div class="col-md-2 col-form-label">

                    </div>
                    <div class="col-md-2 col-form-label">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-save"></i> Grabar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="card"> -->
                        <!-- <div class="card-header">
                    <i class="fa fa-align-justify"></i> Combined All Table
                    </div> -->
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm" id="tblValues" >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Codigo Usuario</th>
                                        <th>Usuario</th>
                                        <th>Tipo Asistencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of bandeja.listaUsuario; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.codigo_usuario}}</td>
                                        <td>{{item.NombreCompleto}}</td>
                                        <td>
                                            <select  class="custom-select" name="opcionSeleccionado">
                                                <option value="0">Selecciona una opción</option>
                                                <option value="{{item2.codigo_parametro}}" *ngFor="let item2 of bandeja.listaAsistencia;">
                                                               {{item2.descripcion_valor}}</option>
                                            </select>
                                        </td>
                                        <!-- <td>
                                            <pre>
                                                {{opcionSeleccionado | json}}
                                            </pre>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>