  <form>
      <div class="col-sm-4">
          <label>Día</label>
          <input [(ngModel)]="bandeja.dia" name="dia" type="text" class="form-control is-valid" id="txtDia" disabled="disabled">
      </div>
      <div class="col-sm-4">
          <label>Responsable</label>
          <input [(ngModel)]="bandeja.responsable" name="responsable" type="text" class="form-control is-valid" id="txtResponsable" disabled="disabled">
      </div>
      <br />
      <div class="form-group">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Tipo</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of bandeja.listaUsuario; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{item.NombreCompleto}}</td>
                      <td>
                          <select class="custom-select" name="item">
                              <option value="{{item2.CodigoParametro}}" 
                                      *ngFor="let item2 of bandeja.listaAsistencia;">
                                      {{item2.DescripcionValor}}</option>
                            </select>
                      </td>
                  </tr>
              </tbody>
            </table>
      </div>
      <button type="submit" class="btn btn-primary">Grabar</button>
    </form>
