<app-navbar></app-navbar>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong>Reporte Individual</strong>
        </div>
        <div class="card-body">
            <form #forma="ngForm">

                <div class="row">
                    <label class="col-md-2 col-form-label" for="disabled-input">Año:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="anio" name="anio" class="custom-select">
                                <option value="0">--Seleccionar--</option>                                       
                                        <option [value]="anio" 
                                        *ngFor="let anio of ListaAnios">{{anio}}
                                        </option>
                                    </select>
                    </div>
                    <label class="col-md-2 col-form-label" for="disabled-input">Mes:</label>
                    <div class="col-md-3">
                        <select [(ngModel)]="mes" name="mes" class="custom-select">
                                        <option value="0">--Seleccionar--</option>
                                        <option [value]="mes.codigo"
                                        *ngFor="let mes of ListaMeses">{{mes.nombre}}
                                        </option>
                                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-form-label">
                        <button [routerLink]="['/reporte-component']" routerLinkActive="active" class="btn btn-outline-danger">Retornar</button>
                    </div>
                    <div class="col-md-1 col-form-label">
                        <button type="button" (click)="getReporte(anio,mes)" class="btn btn-outline-primary">Mostrar Reporte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div *ngIf="ListaNombres.length === 0" class="alert alert-info" role="alert">
        <strong>No se encuentra información.</strong>
    </div>
</div>
<div class="col-md-12">
    <div *ngIf="ListaNombres.length > 0" [chart]="chart"></div>
</div>