<div class="container-fluid  font">
        <div class="row">
                <div class="col-sm">
                        <span style="color: mediumblue;padding-left: 20px;">
                                <i class="fas fa-clock fa-lg"></i>
                                <label style="padding: 10px">Aplicación Multeros</label>
                            </span>
                </div>
                <div class="col-sm" style="display: flex; justify-content: flex-end;">
                        <span style="color: mediumblue;padding-left: 20px;">   
                            <a [routerLink]="['/menu']"><i class="fas fa-home fa-lg" ></i></a>
                            <label style="padding: 10px"></label>
                        </span>
                        <span style="color: mediumblue;padding-left: 20px;">
                                <i class="fas fa-user fa-lg"></i>
                                <label style="padding: 10px">{{user.NombreCompleto}}</label>
                            </span>
                        <span style="color: red;padding-left: 2px; cursor: pointer;" (click)="cerrarSesion()">
                            <i class="fa fa-power-off"></i>
                            <label style="padding: 10px"></label>
                        </span>
                </div>
        </div>
</div>