<div [ngStyle]="{'background' : 'url(./assets/images/minions-navbar.jpg)'}" style="background-color: #f5f5f5;padding-top: 4px;padding-bottom: 4px">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span style="color: mediumblue;padding-left: 20px;">
                <i class="fas fa-clock fa-lg"></i>
                <label style="padding: 10px">Aplicación Multeros</label>
            </span>
            </div>
            <div class="col-sm col-md-offset-4">
                <span style="color: mediumblue;padding-left: 240px;">
                <a [routerLink]="['/menu']">
                <i class="fas fa-home fa-lg" ></i></a>
            </span>
                <span style="color: mediumblue;padding-left: 20px;">
                <i class="fas fa-user fa-lg"></i>
                <label style="padding: 10px">{{user.NombreCompleto}}</label>
            </span>
                <span style="color: red;padding-left: 2px; cursor: pointer;" (click)="cerrarSesion()">
            <i class="fa fa-power-off"></i>
          </span>
            </div>
        </div>
    </div>
</div>