<app-navbar></app-navbar>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Icons Navigation</title>
</head>

<body>
    <!-- <br><br><br><br><br><br> -->
    <div class=container>
        <div class="row">
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a class="menu-magenta" [routerLink]="['/reporte-component']" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="Asistencia"><i class="fas fa-calendar-alt"></i></a>
                </div>
            </div>

            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-pink" [routerLink]="['/comodin']" data-toggle="tooltip" data-placement="top" title="Comodín"><i class="fas fa-gift"></i></a>
                </div>
            </div>
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-green" [routerLink]="['/reporte-individual']" data-toggle="tooltip" data-placement="top" title="Reportes"><i class="fa fa-file-pdf-o"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <!-- <a href="#" class="menu-blue" [routerLink]="['/registroTareo']" data-toggle="tooltip" data-placement="top" title="Registro de Asistencia"><i class="fa fa-pencil-square-o"></i></a><br> -->
                </div>
            </div>
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-orange" [routerLink]="['/permiso']" data-toggle="tooltip" data-placement="top" title="Solicitar Permiso"><i class="fas fa-chess-rook"></i></a><br>
                </div>
            </div>
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <!-- <a href="#" class="menu-blue" [routerLink]="['/registroTareo']" data-toggle="tooltip" data-placement="top" title="Registro de Asistencia"><i class="fa fa-pencil-square-o"></i></a><br> -->
                </div>
            </div>
        </div>
        <div class="row" *ngIf="user.Responsable==1">
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-blue" [routerLink]="['/registroTareo']" data-toggle="tooltip" data-placement="top" title="Registro de Asistencia"><i class="fa fa-pencil-square-o"></i></a><br>
                </div>
            </div>
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-yellow" [routerLink]="['/asignacionGrupo']" data-toggle="tooltip" data-placement="top" title="Grupos"><i class="fa fa-users"></i></a>
                </div>
            </div>
            <div class="col-sm" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-red" [routerLink]="['/asignacionResponsable']" data-toggle="tooltip" data-placement="top" title="Responsable"><i class="fa fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>