<app-navbar></app-navbar>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Icons Navigation</title>
</head>

<body>
    <br><br><br><br><br><br>
    <div class=container>
        <div class="row">
            <div class="col-sm">
                <div class="menu-navigation-icons">
                    <a class="menu-magenta" [routerLink]="['/reporte-component']" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="Tabla del día"><i class="fas fa-calendar-alt"></i></a>
                </div>
            </div>

            <div class="col-sm">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-pink" [routerLink]="['/comodin']"><i class="fas fa-gift"></i></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-green" [routerLink]="['/reporte-individual']"><i class="fa fa-file-pdf-o"></i></a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row" *ngIf="user.Responsable==1">
            <div class="col-sm">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-blue" [routerLink]="['/registroTareo']"><i class="fa fa-pencil-square-o"></i></a><br>
                </div>
            </div>
            <div class="col-sm">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-yellow" [routerLink]="['/asignacionGrupo']"><i class="fa fa-users"></i></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="menu-navigation-icons">
                    <a href="#" class="menu-red" [routerLink]="['/asignacionResponsable']"><i class="fa fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>